http://localhost:8080

encode gzip

file_server {
  root /src
}

handle_path /foxglove {
  root * /src
  file_server
}

redir / /notebooks/notebooks/CARLA%20💜%20Foxglove%20demo.ipynb

reverse_proxy /ros-bridge ros-bridge:9090 {
  header_up Host localhost:9090
}

reverse_proxy /notebooks/* notebooks:8888 {
}
